%h4 Welcome to Mox, where everything is not as it seems

%p 
This API is an simple, easy-to-use tool that generates
%em Fake
People, Companies, and Products.

%p Your Fake Person 
- f = FakePerson.new
%p Name
= f.name
%p Title
= f.title
%p Works At
= f.works_at

%p Your Fake Company
- c = FakeCompany.new
%p Name
= c.name
%p Motto
= c.motto
%p Company BS
= c.bs

%p Your Fake Company
- p = FakeProduct.new
%p Name
= p.name
%p Price
= p.price
%p Department
= p.department