!!!
%html
  %head
    %title Mox
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        #navbar-collapse.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li= link_to "Home", root_path
            %li= link_to "Log in",  new_user_session_path
            -if current_user
              %li= link_to "Profile", user_path(current_user.id)
              %li= link_to "Recent Activity", activities_path
              %li= link_to "Log out",  destroy_user_session_path,  method: :delete
    = yield

    